.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 120px 0;
}
.experience-description {
  margin: 10px 0 0 0;
  text-align: justify;
  max-width: 100%;
}
.resume-details-carousal {
  transition: transform 1s ease-out;
}
.bullet {
  display: flex;
  align-items: center;
  background-color: #1f2235;
  height: 40px;
  margin: 15px 0;
  padding: 0 8px;
  border-radius: 20px;
  width: 30px;
  transition: width 0.6s ease;
  cursor: pointer;
}
.bullet-label {
  font-size: 14px;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}
.bullet-logo {
  height: 16px;
  margin: 0 30px 0 0;
}
.selected-bullet {
  color: white;
  width: 100%;
}
.resume-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
  width: 100%;
}
.heading-bullet {
  position: absolute;
  left: -30px;
  height: 15px;
  width: 15px;
  top: 5px;
  background-color: var(--dark-orange);
  border-radius: 50%;
}
.skill-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}
.programming-skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-percentage {
  position: relative;
  height: 15px;
  width: 70%;
  background-color: var(--dark-orange);
}
.skill-percentage .active-percentage-bar {
  height: 15px;
  transition: 0.8s ease;
  position: absolute;
  background-color: #1f2235;
}
.skill-parent span {
  font-family: "Poppins SemiBold";
  font-size: 16px;
  color: var(--dark-orange);
}
