.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 12px;
}
.highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #ff5823;
  border-radius: 50%;
}

@media only screen and (max-width: 466px) {
  .highlight-blob {
    width: 8px;
    height: 8px;
  }
}
