.header-option {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.header-option-seperator {
  margin: 0 50px 0 0;
  color: var(--white);
}
.selected-header-option {
  color: var(--dark-orange);
}

@media only screen and (max-width: 970px) {
  .header-option-seperator {
    margin: 0;
  }
  .selected-header-option {
    color: var(--white);
  }
  .header-option {
    color: var(--white);
  }
}
